<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.anyway"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.anyway.AnywayEnglishApp">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".PatternActivity"
            android:label="CHAPTER"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anyway.MainActivity" />
        </activity>
        <activity
            android:name=".StepActivity"
            android:label="STEP"
            android:parentActivityName=".PatternActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PatternActivity" />
        </activity>
        <activity
            android:name=".WarmingActivity"
            android:label="@string/title_activity_warming"
            android:parentActivityName=".StepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anyway.StepActivity" />
        </activity>
        <activity
            android:name=".ListeningActivity"
            android:label="@string/title_activity_listening"
            android:parentActivityName=".StepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anyway.StepActivity" />
        </activity>
        <activity
            android:name=".ReviewingActivity"
            android:label="@string/title_activity_reviewing"
            android:parentActivityName=".StepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anyway.StepActivity" />
        </activity>
        <activity
            android:name=".AnsweringActivity"
            android:label="@string/title_activity_answering"
            android:parentActivityName=".StepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anyway.StepActivity" />
        </activity>
        <activity
            android:name=".SelectingActivity"
            android:label="@string/title_activity_selecting"
            android:parentActivityName=".StepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anyway.StepActivity" />
        </activity>
        <activity
            android:name=".PlayingActivity"
            android:label="@string/title_activity_playing"
            android:parentActivityName=".StepActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.anyway.StepActivity" />
        </activity>

    </application>

</manifest>
